[Unit]
Description = KotekanMaster Daemon
Documentation=https://bitbucket.org/chime/ch_acq/
After=syslog.target network.target

[Service]
Type=simple
Restart=always
KillSignal=SIGINT
ExecStart=/home/chime/ch_acq/kotekan_master.py shiny
User=chime
PIDFile=/var/run/KotekanMaster.pid

[Install]
WantedBy = default.target
