wtl.pytest-xreport @ git+ssh://git@bitbucket.org/winterlandcosmology/wtl.pytest-xreport.git@jfc/dev
labpy @ git+ssh://git@bitbucket.org/winterlandcosmology/labpy.git@jfc_dev
numpy
matplotlib

# test-specific packages
pyserial # (tested with 0.0.97 on Ubuntu) for memtest
pyftdi # (tested with 0.53.3 on Ubuntu) tested with for PLL programming. Newer versions have another interface
