# Requirements for running tests and quality control scripts

wtl.pytest-xreport @ git+ssh://git@bitbucket.org/winterlandcosmology/wtl.pytest-xreport.git@jfc/dev
labpy @ git+ssh://git@bitbucket.org/winterlandcosmology/labpy.git@1.0.2
numpy
matplotlib

# pytest: brougnt in by pytest-xreport

# test-specific packages
pyserial # (tested with 0.0.97 on Ubuntu) for memtest
pyftdi # (tested with 0.53.3 on Ubuntu) tested with for PLL programming. Newer versions have another interface

# firmware test additional dependencies
pytest-asyncio  # (tested with 0.21.1 on Ubuntu)

# old dependencies
# docutils  # was ==0.14, now testing 0.16
# lxml  # was ==4.2.5, now using 4.6.1
# nose  # was ==1.3.7, still using it.
