<h1 class="page-header">Contacts</h1>

<p>
	The IceBoard hardware, software, and firmware are maintained by the
	<a href="http://www.mcgillcosmology.ca">McGill Cosmology Instrumentation
	Laboratory</a> (MCgIL), led by
	<a href="http://www.mcgillcosmology.ca/matt-dobbs">Prof. Matt Dobbs</a>.
	The team behind this board consists of:

	<ul>

		<li><a href="mailto:jfcliche@jfcliche.com">Jean-Francois Cliche</a>
			(schematics, software, RTL)
		</li>

		<li><a href="mailto:adamjohngilbert@gmail.com">Adam Gilbert</a>
			(schematics, layout, fabrication)
		</li>

		<li><a href="mailto:gsmecher@threespeedlogic.com">Graeme Smecher</a>
			(schematics, firmware, software, RTL)
		</li>

	</ul>
</p>
	
<p>
	If you have experiment-specific questions about the IceBoard hardware,
	firmware, RTL, or Python frameworks, you should contact the following people:

	<ul>
		<li>Dfmux: <a href="mailto:gsmecher@threespeedlogic.com">Graeme Smecher</a></li>
		<li>CHIME: <a href="mailto:jfcliche@jfcliche.com">Jean-Francois Cliche</a></li>
	</ul>
</p>

<p>
	General inquiries are directed to <a href="Matt.Dobbs@McGill.ca">Matt Dobbs</a>.
</p>

<!-- vim: set ts=2 sw=2: -->
