<h1 class="page-header">Design References</h1>

<h3>Datasheet</h3>

<h3>Schematics</h3>

<ul>
	<li>
		<a href="http://kingspeak.physics.mcgill.ca/twiki/bin/view/NextGen_Dfmux/MGK7FMCMBBoardTesting">IceBoard Revision 0</a>
		(<a href="http://kingspeak.physics.mcgill.ca/twiki/pub/NextGen_Dfmux/MGK7FMCMBBoardTesting/kintex7_fmc_motherboard_REV0.pdf">.pdf</a>;
		 <a href="assets/kintex7_fmc_motherboard_REV0.pdf">local copy</a>)
	</li>
	<li>
		<a href="http://kingspeak.physics.mcgill.ca/twiki/bin/view/NextGen_Dfmux/MGK7FMCMBBoardTestingRev2">IceBoard Revision 2</a>
		(<a href="http://kingspeak.physics.mcgill.ca/twiki/pub/NextGen_Dfmux/MGK7FMCMBBoardTestingRev2/kintex7_fmc_motherboard_REV2.pdf">.pdf</a>;
		 <a href="assets/kintex7_fmc_motherboard_REV2.pdf">local copy</a>)
	</li>
	<li>
		<a href="http://kingspeak.physics.mcgill.ca/twiki/bin/view/NextGen_Dfmux/MGK7FMCMBBoardTestingRev3">IceBoard Revision 3</a>
		(<a href="http://kingspeak.physics.mcgill.ca/twiki/pub/NextGen_Dfmux/MGK7FMCMBBoardTestingRev3/MGK7FMCMB_Rev3_Schematics.pdf">.pdf</a>;
		 <a href="assets/MGK7FMCMB_Rev3_Schematics.pdf">local copy</a>)
	</li>
</ul>

<!-- vim: set ts=2 sw=2: -->
