<h1 class="page-header">Housekeeping</h1>

<h3>Temperatures</h3>

<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th class="col-sm-2">Source</th>
			<th class="col-sm-4">Sensor</th>
			<th class="col-sm-6">Temperature</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="(k,v) in motherboard_temperatures">
			<td ng-if="!$index" rowspan="4">Motherboard</td>
			<td>{{ k }}</td>
			<td>{{ v }}&deg;C</td>
		</tr>
	</tbody>
</table>

<h3>Voltages</h3>

<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th class="col-sm-2">Source</th>
			<th class="col-sm-4">Sensor</th>
			<th class="col-sm-2">Voltage</th>
			<th class="col-sm-2">Current</th>
			<th class="col-sm-2">Power</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="(k,v) in motherboard_rails">
			<td ng-if="$first" rowspan="{{num_motherboard_rails}}">Motherboard</td>
			<td>{{ k }}</td>
			<td>{{ v.voltage | number:3 }} V</td>
			<td>{{ v.current | number:3 }} A</td>
			<td>{{ v.voltage*v.current | number:3 }} W</td>
		</tr>
	</tbody>

	<tbody ng-repeat="(m,mezzanine_rail) in mezzanine_rails">
		<tr ng-repeat="(k,v) in mezzanine_rail">
			<td ng-if="$first" rowspan="{{num_mezzanine_rails}}">Mezzanine {{m}}</td>
			<td>{{ k }}</td>
			<td>{{ v.voltage | number:3 }} V</td>
			<td>{{ v.current | number:3 }} A</td>
			<td>{{ v.voltage*v.current | number:3 }} W</td>
		</tr>
	</tbody>

</table>


<!-- vim: set ts=2 sw=2 tw=0: -->
