<div class="jumbotron">
	<h1>Welcome to IceBoard {{ serial_number }}!</h1>
	<p>
		This is the root page hosted by your IceBoard. If you can view
		it, your board is up and running.
	</p>
	<p class="bg-info" ng-if="personality">
		You are currently viewing the generic "IceBoard" web interface. You are
		probably more interested in the <a href="/{{ personality }}/">{{
		personality }}</a> pages. Only rudimentary actions are possible outside
		the experiment-specific interface.
	</p>
	<p class="bg-info" ng-if="!personality">
		Your IceBoard does not have an experiment-specific web interface
		installed. Either you have left an .opk out of your firmware
		installation, or such a package does not exist.
	</p>
	<p>
		You can access and control different aspects of the IceBoard hardware
		system through the menu bar at the top of the page.
	</p>
</div>
<!-- vim: set ts=2 sw=2: -->
