<h1 class="page-header">IPMI Data</h1>

<p>
	An IPMI descriptor contains information about the hardware's identity and
	revisions.  It is stored in flash or EEPROM devices on the hardware itself.
	It's not psychic: an incorrectly written IPMI block will tell you worthless
	information; ordinarily, however, IPMI data is written during board QC and
	shouldn't be modified after that.
</p>

<p>
	This page returns IPMI data for the motherboard and mezzanine, when it can be
	found.  Missing entries typically indicate either the hardware is missing
	(e.g. for mezzanines), or that the IPMI descriptor was never written in the
	first place.
</p>

<p>
	Most hardware's IPMI descriptors are available even prior to being powered
	on.
</p>

<div ng-repeat="(source, ipmi) in ipmi_blocks">

	<h3>{{source}}</h3>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<th class="col-sm-4">IPMI Element</th>
				<th class="col-sm-4">Key</th>
				<th class="col-sm-4">Value</th>
			</tr>
		</thead>

		<tr>
			<td rowspan="6">Board</td>
			<td>Manufacturer</td>
			<td>{{ ipmi.board.manufacturer }}</td>
		</tr>

		<tr>
			<td>Name</td>
			<td>{{ ipmi.board.name }}</td>
		</tr>

		<tr>
			<td>Part Number</td>
			<td>{{ ipmi.board.part_number }}</td>
		</tr>

		<tr>
			<td>Serial Number</td>
			<td>{{ ipmi.board.serial_number }}</td>
		</tr>

		<tr>
			<td>Part Number</td>
			<td>{{ ipmi.board.part_number }}</td>
		</tr>

		<tr>
			<td>FRU File ID</td>
			<td>{{ ipmi.board.fru_file_id }}</td>
		</tr>

		<tr>
			<td rowspan="7">Product</td>
			<td>Manufacturer</td>
			<td>{{ ipmi.product.manufacturer }}</td>
		</tr>

		<tr>
			<td>Name</td>
			<td>{{ ipmi.product.name }}</td>
		</tr>

		<tr>
			<td>Part Number</td>
			<td>{{ ipmi.product.part_number }}</td>
		</tr>

		<tr>
			<td>Product Version</td>
			<td>{{ ipmi.product.version_number }}</td>
		</tr>

		<tr>
			<td>Serial Number</td>
			<td>{{ ipmi.product.serial_number }}</td>
		</tr>

		<tr>
			<td>Asset Tag</td>
			<td>{{ ipmi.product.asset_tag }}</td>
		</tr>

		<tr>
			<td>FRU File ID</td>
			<td>{{ ipmi.product.fru_file_id }}</td>
		</tr>


	</table>

</div>


<!-- vim: set ts=2 sw=2 tw=0: -->
