<h1 class="page-header">Links</h1>

<h3>McGill Cosmology Instrumentation Laboratory (MCgIL)</h3>

<p>
	<ul>
		<li><a href="http://www.mcgillcosmology.ca">McGill Cosmology</a></li>
		<li><a href="http://kingspeak.physics.mcgill.ca">MCgIL Wiki (Kingspeak)</a></li>
	</ul>
</p>

<h3>IceBoard</h3>

<p>
	<ul>
		<li><a href="http://kingspeak.physics.mcgill.ca/twiki/bin/view/NextGen_Dfmux/WebHome#Hardware">IceBoard Hardware</a>
			(Kingspeak, password-protected)
		</li>
		<li><a href="http://bitbucket.org/winterlandcosmology">Git Repositories</a>
			(BitBucket, password-protected)
		</li>
		<li><a href="http://kingspeak.physics.mcgill.ca/gitweb">Git Repositories</a>
			(GitWeb on Kingspeak, password-protected)
		</li>
	</ul>
</p>

<h3>Collaborators</h3>

<p>
	<ul>
		<li><a href="http://jfcliche.com">JFCliche, Inc.</a></li>
		<li><a href="http://threespeedlogic.com">Three-Speed Logic, Inc.</a></li>
	</ul>
</p>

<!-- vim: set ts=2 sw=2 tw=0: -->
