Package: iceboard-fastpath
Version: 1~20140825
Description: Application server for IceBoard applications
Section: science
Priority: optional
Maintainer: Graeme Smecher
Architecture: all
Homepage: http://bitbucket.org/winterlandcosmology
Source:
Depends:
